body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  padding: 50px 10px;
  width: 200px;
  height: 200px;
}

#licoes-desejo {
  margin: 40px 30px;
  border-style: solid;
  border-color: green;
  padding: 25px 50px;
  display: inline;
  float: right;
}

#rodape {
  line-height: 1.5;
}

.a {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 20px;

}

.lado-esquerdo {
  display: inline;
  width: 60%;
  float: left;
}

.lado-direito {
  margin-top: 16px;
  padding: 40px;
  display: inline;
  width: 30%;
  float: right;
}
